<% post = @post.adjacent change %>

<% if post %>
    <%= link_to post, class: Post.direction(change) do %>
        <div class="title">
          <%= post.title %>
        </div>
        <div class="description">
          <%= post.description %>
        </div>
        <%= image_tag "arrows/text_#{Post.direction(change)}.svg", class: "arrow" %>
    <% end %>
<% else %>
    <div>&nbsp;</div>
<% end %>