<% post = @post_hash[direction] %>

<% if @post.publish_order == 0 && direction == :left ||
        @post.publish_order == @published_posts_size - 1 && direction == :right %>
    <div>&nbsp;</div>
<% else %>
    <%= link_to post, class: direction do %>
        <div class="title">
          <%= post.title %>
        </div>
        <div class="description">
          <%= post.description %>
        </div>
    <% end %>
<% end %>