<div class="photo_box" data-behavior="photo_box">
  <div class="ui">
    <%= direction_arrow -1 %>
    <%= direction_arrow 1 %>

    <%= render "summary_content", post: @post %>
  </div>

  <div class="photo">
    <%= picturefill @post.photo %>
  </div>
</div>