<div class="photo_box" data-behavior="photo_box">
  <div class="ui">
    <%= direction_arrow :left %>
    <%= direction_arrow :right %>

    <%= render "summary_content", post: @post %>
  </div>

  <div class="photo">
    <%= image_tag @post.photo %>
  </div>
</div>