<% set_title @post.title %>
<div class="popup" data-behavior="popup">
  <header>
    <div class="space"></div>
    <div class="title"><div data-behavior="popup_title"></div></div>
    <%= link_to image_tag("close_x.svg", class: "close_x"), "#close_x", data: { behavior: "close_x" }, class: "close_link" %>
  </header>
  <div data-behavior="popup_content" class="popup_content container_outer">
    <div style="display: none;">
      <%= render "content" %>
    </div>
  </div>
</div>

<div data-behavior="swipe" class="swipe">
  <ul>
    <li>
      <div data-behavior="pinch_zoom" class="pinch_zoom">
        <div class="center_container">
          <%= image_tag @post.photo.to_crop %>
        </div>
      </div>
      <%= render "summary_content" %>
    </li>
  </ul>
</div>