<div class="popup" data-behavior="popup">
  <header>
    <div class="space"></div>
    <div class="title"><div data-behavior="popup_title"></div></div>
    <%= link_to image_tag("close_x.svg", class: "close_x"), "#close_x", data: { behavior: "close_x" }, class: "close_link" %>
  </header>
  <div data-behavior="popup_content scroller" class="popup_content container_outer"></div>
</div>

<script>
    $(function(){
        var last_index = 0;
        photoswipe = Code.PhotoSwipe.attach(<%= ([@post.to_photoswipe]).to_json.html_safe %>,
                {
                    captionAndToolbarFlipPosition: true,
                    captionAndToolbarAutoHideDelay: 0,
                    captionAndToolbarOpacity: 1,
                    backButtonHideEnabled: false,
                    getImageSource: function(obj){
                        return obj.photo;
                    },
                    getImageCaption: function(obj) {
                        var div = document.createElement('div');
                        div.innerHTML = obj.caption;
                        return div;
                    },
                    getToolbar: function() {
                        return "";
                    }
                });
        photoswipe.show(last_index);
        photoswipe.addEventHandler(Code.PhotoSwipe.EventTypes.onDisplayImage, function(e) {
            if (last_index != e.index) {
                var image = photoswipe.getCurrentImage();
                $('title').html(image.title);
                history.pushState(e.index, image.title, image.path);
                last_index = e.index;
            }
        });
    });
</script>
<% set_title @post.title %>