<div class="popup" data-behavior="popup">
  <%= link_to image_tag("close_x.svg", class: "close_x"), "#close_x", data: { behavior: "close_x" }, class: "close_link" %>
</div>

<script>
    $(function(){
        var photoswipe = Code.PhotoSwipe.attach(<%= ([@post.to_photoswipe] * 10).to_json.html_safe %>,
                {
                    captionAndToolbarFlipPosition: true,
                    captionAndToolbarAutoHideDelay: 0,
                    captionAndToolbarOpacity: 1,
                    getImageSource: function(obj){
                        return obj.photo;
                    },
                    getImageCaption: function(obj) {
                        var div = document.createElement('div');
                        div.innerHTML = obj.caption;
                        return div;
                    },
                    getToolbar: function() {
                        return "";
                    }
                });
        photoswipe.show(0);
    });
</script>
<% set_title @post.title %>