<script type="text/javascript">
    $(function() {
        new Maplace({
            locations: [{
                lat: <%= @post.location.x %>,
                lon: <%= @post.location.y %>,
                zoom: 8
            }]
        }).Load();
    });
</script>


<section class="main">
  <div class="left">
    <%= @post.markdown_html %>
  </div>
  <div class="right">
    <%= if authenticated?; link_to "Edit", edit_post_path(@post) end %>

    <div id="gmap" class="post_map"></div>
  </div>
</section>