<div class="container_outer">
  <section class="main">
    <div class="left">
      <% if @post.has_content? %>
          <div class="content">
            <div class="markdown">
              <%= @post.markdown_html %>
            </div>

            <% unless @post.footnotes.empty? %>
                <div class="footnotes">
                  <ol>
                    <% @post.footnotes.each do |footnote| %>
                        <li>
                          <%= footnote %>
                        </li>
                    <% end %>
                  </ol>
                </div>
            <% end %>
          </div>
      <% end %>
      <%= render "layouts/disqus" %>
    </div>
    <div class="right">
      <%= if authenticated?; link_to "Edit", edit_post_path(@post) end %>
    </div>
  </section>
</div>