<% set_title %>
<%= render "layouts/header" %>

<section class="post" data-behavior="read_mode_container">
  <% unless authenticated? %>
      <%= render @posts.last %>
  <% end %>
  <% unless @posts[1..-1].empty? %>
      <% unless authenticated? %>
          <h2>All Captions</h2>
      <% end %>
      <%= render @posts %>
  <% end %>
</section>
