body[data-controller="posts"] {
  &[data-action="index"] {
    section.post {
      article.post {
        @include backgrounded;
        position: relative;

        &:hover {
          .color {
            opacity: 1;
          }
        }

        header,
        img.color {
          position: absolute;
          width: 100%;
          top: 0;
        }

        img {
          width: 100%;
          display: block;

          &.color {
            opacity: 0;
            transition: opacity 2000ms ease;
          }
        }

        header {
          height: 100%;
          @include center_container;

          h3 {
            font-size: $heading;
            margin: 0;
          }
        }
      }
    }
  }

  &[data-action="show"] {
    .summary_content {
      @include backgrounded;
      line-height: 1.2;
      max-width: 750px;

      h2 {
        line-height: 1;
        margin-bottom: 0.03em;
        font-size: $heading;
      }

      .html {
        font-style: italic;
      }

      .read_story {
        margin-top: 0.3;
        font-style: italic;
        padding: 0.16em 0.66em;
        display: inline-block;
        $grey: 50;
        background-color: rgba($grey, $grey, $grey, 0.5);
        transition: background-color $transition_speed;
        &:hover {
          background-color: rgba($grey, $grey, $grey, 0.8);
        }
      }
    }

    .photo_box {
      width: 100%;
      position: relative;

      * {
        margin: 0;
      }

      &:hover {
        .left,
        .right {
          opacity: 0.3;
        }
        .summary {
          opacity: 1;
        }
      }

      .left,
      .right {
        opacity: 0;
        position: absolute;
        height: 100%;
        @include clearfix;

        &:hover {
          opacity: 1;
        }
        .container {
          height: 100%;
          width: 100%;
          @include center_container_vertical;

          a {
            width: 100%;
          }
        }
      }
      .left {
        left: 0;
        width: 20%;
        img {
          float: left;
          padding-left: $outter_margin;
        }
      }
      .right {
        right: 0;
        width: 80%;
        img {
          float: right;
          padding-right: $outter_margin;
        }
      }

      .inner {
        width: 100%;
        height: 100%;
        background-color: black;
        @include center_container;

        .photo {
          max-height: 100%;
          max-width: 100%;
        }
      }

      .summary {
        position: absolute;
        width: 100%;
        height: 100%;

        transition: opacity $transition_speed;
        opacity: 0;

        .container {
          @include outer-container;
          height: 100%;

          .summary_content {
            position: absolute;
            bottom: 15vh;
          }
        }
      }
    }

    .ps-caption {
      .summary_content {
        padding-bottom: 1.6em;
      }
    }
    .popup {
      position: absolute;
      z-index: 2001;
      height: 100%;
      width: 100%;
      background-color: white;

      visibility: hidden;
      opacity: 0;
      transition: opacity $transition_speed;

      &.visible {
        visibility: visible;
        opacity: 1;
      }

      .close_link {
        position: absolute;
        top: 20px;
        right: 20px;

        .close_x {
          width: 30px;
          height: 30px;
          opacity: 0.3;
        }
      }
    }

    section.main {
      margin-top: 1em;

      .left {
        @include span-columns(8);
      }
      .right {
        @include shift(1);
        @include span-columns(3);
      }
    }
  }

  &[data-action="edit"] {
    .preview {
      width: 100%;
      overflow: hidden;
    }
    section.main {
      margin-top: 30px;

      .left {
        @include span-columns(8);

        textarea {
          height: 500px;
        }
      }
      .right {
        @include span-columns(4);

        .preview_link {
          display: block;
          margin-top: 20px;
        }
      }
    }
  }
}