body[data-controller="posts"] {
  &[data-action="index"] {
    section.posts {
      article.post {
        height: 300px;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
  }

  &[data-action="edit"] {
    .preview {
      width: 100%;
      overflow: hidden;
    }
    section.main {
      margin-top: 30px;

      .left {
        @include span-columns(8);

        textarea {
          height: 500px;
        }
      }
      .right {
        @include span-columns(4);
      }
    }
  }
}