body[data-controller="posts"] {
  &[data-action="index"] {
    section.post {
      article.post {
        position: relative;
        header {
          position: absolute;
          width: 100%;
          height: 100%;
          @include center_container;
        }

        img {
          width: 100%;
          display: block;
        }
      }
    }
  }

  &[data-action="show"] {
    .photo_box {
      width: 100%;
      height: 100vh;
      padding-bottom: 50px;

      .inner {
        width: 100%;
        height: 100%;
        background-color: black;
        @include center_container;

        .photo {
          height: 100%;
        }
      }
    }
  }

  &[data-action="edit"] {
    .preview {
      width: 100%;
      overflow: hidden;
    }
    section.main {
      margin-top: 30px;

      .left {
        @include span-columns(8);

        textarea {
          height: 500px;
        }
      }
      .right {
        @include span-columns(4);

        .preview_link {
          display: block;
          margin-top: 20px;
        }
      }
    }
  }
}