$max-width: 1140px;
@import 'bourbon';
@import 'neat';
@import 'patterns';

$ink: #333;
$ink_red: #B83000;
$background_ink: white;
$semibold: 600;

$transition_speed: 400ms ease 0s;

$huge: 80px;
$read: 30px;

@mixin base {
  font-size: $read;
  line-height: 1.5;
  font-family: 'arno-pro', Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Times New Roman", Times, serif;

  color: $ink;
  background: url("background.png") repeat scroll 0% 0% transparent;

  h1,
  h2,
  h3 {
    font-weight: $semibold;
  }

  a {
    text-decoration: none;
    color: $ink_red;

    &:hover {
      border-bottom: 1px dotted $ink_red;
    }
  }

  p {
    margin: 40px 0;
  }

  .huge {
    font-size: $huge;
    font-style: italic;
    line-height: 1.2;
  }
}

@mixin text_shadow {
  text-shadow: 0 0 15px rgba(0,0,0,0.6),0 -1px 1px rgba(0,0,0,0.6);
}

@mixin backgrounded {
  &,
  a {
    color: $background_ink;
    @include text_shadow;
  }
}