@import 'base';
@import 'lib/tipsy';

body {
  p + p {
    margin-top: $p_margin_desktop;
  }
  ol,
  ul {
    margin-bottom: $p_margin_desktop;
  }
}

header.invisible {
  position: absolute;
  z-index: 2000;
  top: 0;
  width: 100%;

  transition: background-color $transition_speed;
  .right {
    transition: opacity $transition_speed;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    .right {
      opacity: 1;
    }
  }

  .right {
    opacity: 0;
  }
}
textarea,
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
  width: 100%;
}

body[data-controller="posts"] {
  &[data-action="index"] {
    section.post {
      article.post {
        img.color {
          transition: opacity 3000ms ease;
        }
      }
    }
  }

  &[data-action="show"] {
    h1 {
      position: fixed;
    }

    .photo_box {
      width: 100%;
      position: relative;

      &:hover {
        .left,
        .right {
          opacity: 0.3;
        }
        .ui {
          .summary_content {
            opacity: 1;
          }
          .comment_box {
            opacity: 0.5;
          }
        }
      }
      .ui {
        .left,
        .right {
          z-index: 1;
          opacity: 0;
          position: absolute;
          height: 100%;
          @include clearfix;

          &:hover {
            opacity: 1;
          }
          .container {
            height: 100%;
            width: 100%;
            @include center_container_vertical;

            a {
              width: 100%;
            }
          }
        }
        .left {
          left: 0;
          width: 20%;
          img {
            float: left;
            padding-left: $outter_margin;
          }
        }
        .right {
          right: 0;
          width: 80%;
          img {
            float: right;
            padding-right: $outter_margin;
          }
        }

        position: absolute;
        width: 100%;
        height: 100%;

        .space {
          height: 100vh;
          position: relative;
        }

        .summary_content {
          margin-right: $comment_dimensions + 0.5em;
        }

        .summary_content,
        .comment_box {
          z-index: 2;
          transition: opacity $transition_speed;
          opacity: 0;
        }

        .comment_box {
          right: 0;
          &:hover {
            opacity: 1;
          }
        }
      }

      .photo {
        width: 100%;
        height: 100%;
        background-color: black;
        @include center_container;

        img {
          max-height: 100%;
          max-width: 100%;
        }
      }
    }

    section.main {
      padding-top: 0.8em;

      .next_prev {
        @include float_left_right_container;
        margin-bottom: 2em;

        a {
          padding-top: 0.3em;
          border-top: 1px solid $ink;
          width: 45%;

          color: $ink;
          transition: opacity $transition_speed;

          $arrow_width: 0.7em;
          position: relative;
          padding-left: $arrow_width;
          padding-right: 5%;

          .title {
            line-height: 1.2;
          }
          .description {
            font-style: italic;
            font-size: 0.7em;
            line-height: 1;
          }

          &:hover {
            text-decoration: none;
            opacity: 0.5;
          }

          .arrow {
            position: absolute;
            top: 50%;
            height: 0.5em;
            opacity: 0.5;
          }
          &.left {
            .arrow {
              left: 0;
            }
          }
          &.right {
            padding-right: $arrow_width;
            padding-left: 5%;
            text-align: right;

            .arrow {
              right: 0;
            }
          }
        }
      }
    }
  }

  &[data-action="edit"] {
    .preview {
      width: 100%;
      overflow: hidden;
    }
    section.main {
      margin-top: 1em;

      .left {
        @include span-columns(8);

        textarea {
          height: 20em;
        }
      }
      .right {
        @include span-columns(4);

        .preview_link {
          display: block;
          margin-top: 0.6em;
        }
      }
    }
  }
}