header.main,
section.main {
  @include outer-container;
}

header.invisible {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 100%;

  transition: background-color $transition_speed;
  .right {
    transition: opacity $transition_speed;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.5);
    .right {
      opacity: 1;
    }
  }

  .right {
    opacity: 0;
  }
}

header.main {
  @include float_left_right_container;

  .logo {
    width: 50px;
  }
  .right {
    margin-top: 30px;
    @include horizontal_spacer_container(20px);
  }
}

textarea,
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"] {
  width: 100%;
}