body {
  @include base;
  @include spinner-balls;
}

section.main {
  @include outer-container;
}
.container_outer {
  padding: 0 $outter_padding;
}

h1 {
  font-family: $script;

  a {
    color: $ink_light;
    &:hover {
      text-decoration: none;
    }
  }

  &.logo {
    position: absolute;
    top: 0.1em;
    left: 0.5em;
    z-index: 9;

    img {
      height: 1em;
      width: 1em;
    }

    opacity: 0.2;
    &:hover {
      opacity: 1;
    }
  }
}
header.main {
  font-family: $sans-serif;
  font-weight: 300;

  @include float_left_right_container;

  .right {
    margin-top: 0.75em;
    @include horizontal_spacer_container(.6em);

    .social {
      margin-top: 0.1em;
      @include horizontal_spacer_container(.1em);
      img {
        opacity: 0.5;
        width: 1em;
        height: 1em;

        &:hover {
          opacity: 1;
          transition: opacity $transition_speed;
        }
      }
    }
  }
}

.notice {
  margin-top: 0.5em;
  text-align: center;
}