body {
  @include base;

  @include spinner-balls;
}

section.main {
  @include outer-container;
}
.container_outer {
  padding: 0 $outter_padding;
}

h1 {
  font-family: $sans-serif;
  font-weight: 700;

  a {
    color: $ink;
    &:hover {
      text-decoration: none;
    }
  }
}
header.main {
  font-family: $sans-serif;
  font-weight: 300;

  @include float_left_right_container;

  .right {
    margin-top: 0.95em;
    @include horizontal_spacer_container(.6em);
  }
}