<%= render "layouts/header" %>
<% set_title @markdown.key.to_s.humanize %>
<% flowtype %>

<div class="container_outer" data-behavior="flowtype">
  <section class="main">
    <% if authenticated? %>
        <%= link_to "Edit", edit_markdown_path(@markdown) %>
    <% end %>
    <%= @markdown.html %>
  </section>
</div>

<%= custom_flowtype :read %>