<%= render "layouts/header" %>

<div class="container_outer">
  <section class="main">
    <% if authenticated? %>
        <%= link_to "Edit", edit_markdown_path(@markdown) %>
    <% end %>

    <h2><%= set_title @markdown.key.to_s.humanize %></h2>
    <%= @markdown.html %>
  </section>
</div>