<div class="container_outer">
  <header class="main">
    <h1><%= link_to image_tag("logo.svg", class: "logo"), root_path %></h1>
    <div class="right">
      <% if authenticated? && action_name == "index" %>
          <%= link_to "", "#read_mode", data: { behavior: "read_mode" } %>
      <% end %>
      <%= link_to "About", root_markdown_path(:about) %>
    </div>
  </header>
</div>